{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Payment</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="container text-center w-50 p-5 mb-5 mt-5 text-light border border-1 shadow bg-secondary">
    <h2>Payment Successful!</h2>
    <p>Your payment has been processed successfully.</p>
</div>

{% endblock %}